  <div class="container-fluid" id="intro">
    <h2> Portfolio </h2>
    <h4 class="support">Venmo iPhone pinterest, XOXO ethical plaid craft beer actually man bun wayfarers stumptown kale chips. Asymmetrical migas authentic twee, wayfarers tacos kinfolk trust fund blue bottle offal XOXO bicycle rights brooklyn meggings ennui. Echo park pork
      belly keffiyeh tilde, crucifix dreamcatcher thundercats kale chips banjo disrupt small batch authentic sriracha. Meditation post-ironic pug flexitarian. Viral vegan authentic whatever, everyday carry normcore mustache paleo offal selvage. Umami
      helvetica artisan sartorial messenger bag lo-fi. Dreamcatcher ennui pickled asymmetrical, butcher banjo williamsburg umami.</h4>
  </div>

<!-- Family -->
<div id="grid" class="main">
<div class="view">
<div class="view-back">
<span class="fa fa-camera-retro"> 20</span>
<a href="http://www.sarahhamiltonphotography.com/Family-Photography">&rarr;</a>
</div>
<img src="gallery/familyGallery.jpg"/>
</div>
<div class="view">
<div class="view-back">
<span class="fa fa-camera-retro"> 20</span>
<a href="http://www.sarahhamiltonphotography.com/Parties">&rarr;</a>
</div>
<img src="gallery/PartiesGallery.jpg"/>
</div>
<div class="view">
<div class="view-back">
<span class="fa fa-camera-retro"> 20</span>
<a href="http://www.sarahhamiltonphotography.com/Portraits">&rarr;</a>
</div>
<img src="gallery/childGallery.jpg"/>
</div>
<div class="view">
<div class="view-back">
<span class="fa fa-camera-retro"> 20</span>
<a href="http://www.sarahhamiltonphotography.com/Real-Estate">&rarr;</a>
</div>
<img src="gallery/RealEstateGallery.jpg"/>
</div>

<div class="view">
<div class="view-back">
<span class="fa fa-camera-retro"> 20</span>
<a href="http://www.sarahhamiltonphotography.com/Engagement-Photos">&rarr;</a>
</div>
<img src="gallery/engagementGallery.jpg"/>
</div>
<div class="view">
<div class="view-back">
<span class="fa fa-camera-retro"> 20</span>
<a href="http://www.sarahhamiltonphotography.com/Children">&rarr;</a>
</div>
<img src="gallery/HeadshotsGallery.jpg"/>
</div>
</div>
<!-- END Family -->
