  <div class="container-fluid" id="intro">
    <h2> Prices & Packages </h2>
    <h4 class="support">Venmo iPhone pinterest, XOXO ethical plaid craft beer actually man bun wayfarers stumptown kale chips. Asymmetrical migas authentic twee, wayfarers tacos kinfolk trust fund blue bottle offal XOXO bicycle rights brooklyn meggings ennui.
    </h4>
    <div class="priceTable">
      <table>
        <tr>
          <td>
            Package 1
          </td>
          <td>
            Package 2
          </td>
          <td>
            Package 3
          </td>
          <td>
            Package 4
          </td>
          <td>
            Package 5
          </td>
        </tr>
        <tr>
          <td>
            4 wallets
          </td>
          <td>
            4 wallets
          </td>
          <td>
            Canvas
          </td>
          <td>
            Fatheads
          </td>
          <td>
            90 Postcards
          </td>
        </tr>
        <tr>
          <td>
            5 5-8
          </td>
          <td>
            5 5-8
          </td>
          <td>
            Canvas
          </td>
          <td>
            Fatheads
          </td>
          <td>
            4 wallets
          </td>
        </tr>
        <tr>
          <td>
            Canvas
          </td>
          <td>
            5 5-8
          </td>
          <td>
            Canvas
          </td>
          <td>
            Fatheads
          </td>
          <td>
            90 Postcards
          </td>
        </tr>
        <tr>
          <td>
            Fatheads
          </td>
          <td>
            5 5-8
          </td>
          <td>
            Canvas
          </td>
          <td>
            5 5-8
          </td>
          <td>
            Fatheads
          </td>
        </tr>
      </table>
    </div>

  </div>
